@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root  {
  --background: 271 19% 95%;
  --foreground: 271 5% 3%;
  --card: 271 19% 90%;
  --card-foreground: 271 5% 10%;
  --popover: 271 19% 95%;
  --popover-foreground: 271 95% 3%;
  --primary: 271 51% 48%;
  --primary-foreground: 0 0% 100%;
  --secondary: 271 19% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 233 19% 85%;
  --muted-foreground: 271 5% 35%;
  --accent: 233 19% 80%;
  --accent-foreground: 271 5% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 271 5% 90%;
  --border: 271 20% 50%;
  --input: 271 20% 18%;
  --ring: 271 51% 48%;
  --radius: 1.75rem;
}
.dark  {
  --background: 271 19% 5%;
  --foreground: 271 5% 90%;
  --card: 271 19% 3%;
  --card-foreground: 271 5% 90%;
  --popover: 271 19% 5%;
  --popover-foreground: 271 5% 90%;
  --primary: 271 51% 48%;
  --primary-foreground: 0 0% 100%;
  --secondary: 271 19% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 233 19% 15%;
  --muted-foreground: 271 5% 60%;
  --accent: 233 19% 15%;
  --accent-foreground: 271 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 271 5% 90%;
  --border: 271 20% 18%;
  --input: 271 20% 18%;
  --ring: 271 51% 48%;
  --radius: 1.75rem;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-family: 'Zain', sans-serif;
  }
}